## {{ $.Site.Param "pd_title" }}

{{ range $.Site.Data.product_designers }}
### 🥷 {{ .name }} <a id="{{ .name | anchorize }}"></a> [☝️](#pd_index)

{{ with .skills }}🛡️🗡️: {{ title . }}
{{end}}
{{ with .subtitle }}📜: {{ . }}
{{ end }}
{{ with .linkedin }}[![linkedin](https://img.shields.io/badge/LinkedIn-0A66C2.svg?style=for-the-badge&logo=LinkedIn&logoColor=white)](https://www.linkedin.com/in/{{ . }}/){{ end }}
{{ range .testmonials }}
<img width="20em" height="20em" src="https://upload.wikimedia.org/wikipedia/commons/0/00/Icon-badge.svg" /> _{{ .text }}_\
**- [{{ .author.name }}]({{ .author.link }}), {{ .author.relation }}**
{{ end }}
<hr />
{{ end }}
